pip para instalar Django
pip install django-crispy-forms
pip install psycopg2
pip install pillow
pip install psycopg2-binary
pip install crispy-bootstrap5
pip install mysqlclient
pip install redis/no recuerdo para que era, creo q para websockets, no hay que usarlo