*:root {
    --identityColor: #901a34;
    --primaryColor: #ffffff;
    --secondaryColor: #f8f9fa;
    --darkColor: black;
    --font: fresh;
    --success: rgb(25,135,84);
  }
  
  @font-face {
    font-family: 'fresh';
    src: url('../font/TNR.ttf');
  }

  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  body {
    max-width: 100%;
  }
  
  *,
  *::before,
  *::after {
    font-family: 'fresh', sans-serif;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }

  h1,h2,h3,h4,h5,a,p,b,small,span {
    padding: 0;
    margin: 0;
  }

  #head {
    height: 12vh;
    width: 100%;
  }

  #header {
    box-shadow: 0px 5px 5px -5px var(--darkColor);
    #nav {
        margin: 0 5%;
        #logo {
            width: 75%;
        }
    }
  }

  #offcanvasNavbarLabel {
    color: var(--identityColor);
    text-decoration: underline;
    cursor: default;
  }
  .cat {
    color: var(--identityColor);
  }

  #todos {
    padding-top: 8%;
    margin: 0 1%;
    color: var(--identityColor);
    padding-bottom: 3%;
    #cards {
        padding-top: 0;
        max-width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 1%;
        #target {
            width: 100%;
            height: 35vh;
            overflow: hidden;
            box-shadow: 0px 5px 5px -5px var(--darkColor);
            margin-bottom: 5%;
            #image {
                z-index: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: center;
                border: none;
                #img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                }
                #note {
                    max-width: 90%;
                    background-color: var(--primaryColor);
                    margin-bottom: 4%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--identityColor);
                    opacity: 75%;
                    cursor: default;
                    h5 {
                        padding: 0.5rem;
                        margin: 0;
                        color: var(--primaryColor);
                        font-size: 1.5rem;
                        text-align: center;
                    }
                }
            }
        }
      }
  }

  #menu_bar {
    margin: 0 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    #cards_bar {
        margin-bottom: 5%;
    }
    .nav-item {
        a {
            color: var(--identityColor);
        }
    }

    .card-body {
        p {
            width: 100%;
            word-wrap: anywhere;
        }
    }

    #sobre_img {
        display: flex;
        justify-content: center;
        align-items: center;
        .imi {
            height: 20vh;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                height: 100%;
                width: 100%;
            }
          }
    }
    .card-title {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: var(--identityColor);
        color: var(--primaryColor);
        #price {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
    }
  }

  #index {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--identityColor);
    h1 {
        cursor: default;
    }
    #buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40%;
        a {
            text-decoration: none;
            font-size: 2rem;
            font-weight: 700;
            color: var(--identityColor);
            background-color: var(--primaryColor);
            padding: 1rem;
            cursor: pointer;
            text-align: center;
            transition: all ease-in-out .1s;
            opacity: 75%;
        }
        a:hover {
            background-color: var(--identityColor);
            color: var(--primaryColor);
        }
        .b1 {
            transform: perspective(100px) rotateY(10deg);
            width: 12rem;
            transition: all ease-in-out .3s;
        }
        .b1:hover {
            transform: perspective(100px) rotateY(15deg);
        }

        .b2 {
            transform: perspective(100px) rotateY(-10deg);
            width: 12rem;
            transition: all ease-in-out .3s;
        }
        .b2:hover {
            transform: perspective(100px) rotateY(-15deg);
        }
    }
    #logo {
        width: auto;
        background-color: var(--primaryColor);
        opacity: 75%;
        border: 8px groove var(--identityColor);
        position: absolute;
        top: 12%;
        transition: all ease-in-out .3s;
        width: 30%;
        img {
            width: 100%;
            height: 100%;
            padding: 1rem;
            opacity: 1;
            position: relative;
            border: none;
        }
    }
    img:hover {
        scale: 0.8;
    }
  }

  #sms {
    position: relative;
    margin-top: 2%;
    width: max-content;
  }

  #mensajes {
    position: fixed;
    bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    #mens {
        text-align: center;
        width: max-content;
      }
  }

  #dashboard {
    padding-top: 7%;
    #subir {
        position: fixed;
        bottom: 1%;
        left: 1%;
    }
    #nav_contenido {
        ul {
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            padding: 0;
            margin: 0;
            li {
                a {
                    font-size: 1.4rem;
                    color: var(--identityColor);
                    cursor: pointer;
                }
            }
        }
    }
    #contenido {
        h2 {
            cursor: default;
        }
        text-align: center;
        color: var(--identityColor);
        .nav-dashboard {
            height: 7vh;
            display: flex;
            gap: 1rem;
            border-bottom: 1px solid var(--identityColor);
            margin-bottom: 2%;
            ul {
                display: flex;
                gap: 1rem;
                list-style-type: none;
                justify-content: center;
                align-items: center;
                margin-bottom: 0;
                padding: 0;
                li {
                    a {
                        text-decoration: none;
                        color: var(--identityColor);
                        font-size: 1.2rem;
                    }
                }
            }
        }
        #acounts {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            margin-bottom: 3%;
            .most_user {
                width: 100%;
                display: flex;
                justify-content: end;
                align-items: center;
                svg {
                    width: 50px;
                    height: 50px;
                    cursor: pointer;
                }
            }
            .contenedor_cuentas {
                width: 100%;
                table{
                    margin-top: 1%;
                    width: 100%;
                    tbody {
                        tr{
                            td{
                                margin-bottom: 0.5%;
                            }
                        }
                    }
                    th, td {
                        cursor: default;
                    }
                    .changeP {
                        display: flex;
                        gap: 0.5rem;
                        justify-content: center;
                        align-items: center;
                        button{
                            border: none;
                            background-color: transparent;
                            svg{
                                width: 30px;
                                height: 30px;
                                color: var(--identityColor);
                            }
                        }
                        form{
                            display: none;
                            gap: 0.5rem;
                            button {
                                background-color: transparent;
                                border: none;
                                svg {
                                    color: green;
                                    width: 30px;
                                    height: 30px;
                                }
                            }
                            #repasword {
                                border-color: var(--identityColor);
                                padding: 1%;
                                color: var(--identityColor);
                            }
                        }
                    }
                    .userDelete {
                        form{
                            button{
                                background-color: transparent;
                                border: none;
                                svg {
                                    color: var(--identityColor);
                                    width: 35px;
                                    height: 35px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #contenido_carta {
        display: none;
        h2 {
            cursor: default;
        }
        text-align: center;
        color: var(--identityColor);
        .nav-dashboard {
            height: 7vh;
            display: flex;
            gap: 1rem;
            border-bottom: 1px solid var(--identityColor);
            margin-bottom: 2%;
            ul {
                display: flex;
                gap: 1rem;
                list-style-type: none;
                justify-content: center;
                align-items: center;
                margin-bottom: 0;
                padding: 0;
                li {
                    a {
                        text-decoration: none;
                        color: var(--identityColor);
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
    #contenido_bar {
        display: none;
        h2 {
            cursor: default;
        }
        text-align: center;
        color: var(--identityColor);
        .nav-dashboard {
            height: 7vh;
            display: flex;
            gap: 1rem;
            border-bottom: 1px solid var(--identityColor);
            margin-bottom: 2%;
            ul {
                display: flex;
                gap: 1rem;
                list-style-type: none;
                justify-content: center;
                align-items: center;
                margin-bottom: 0;
                padding: 0;
                li {
                    a {
                        text-decoration: none;
                        color: var(--identityColor);
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
    .edit_all {
        width: 100%;
        height: 85vh;
        display: flex;
        gap: 2rem;
        #formulario {
            width: 100%;
            display: flex;
            gap: 2rem;
            .img {
                width: 50%;
                height: 450px;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                }
                svg {
                    position: absolute;
                    bottom: 1%;
                    right: 1%;
                    width: 50px;
                    height: 50px;
                    background: rgba(255, 255, 255, 0.5);
                    color: var(--identityColor);
                    cursor: pointer;
                }
            }
            .datos_form {
                width: 100%;
                height: 100%;
                overflow-y: scroll;
                label {
                    font-size: 1.8rem;
                    color: var(--identityColor);
                }
                input {
                    border-color: var(--identityColor);
                    font-size: 1.2rem;
                    font-weight: 650;
                    text-align: center;
                }
                a {
                    border-color: var(--identityColor);
                    font-size: 1.2rem;
                    font-weight: 650;
                    text-align: center;
                }
                textarea {
                    border-color: var(--identityColor);
                    font-size: 1.2rem;
                    font-weight: 650;
                }
                .ultimosDatos {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    column-gap: 2rem;
                }
                .ingredients {
                    width: 100%;
                    .ingredientes {
                        display: grid;
                        grid-template-columns: repeat(2,1fr);
                        column-gap: 2rem;
                    }
                }
            }
            #botones {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                gap: 1rem;
            }
        }
    }
  }

  #imagenes {
    width: 100%;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    row-gap: 2rem;
    .container_img {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
        transition: transform .4s ease-in;
        .img-show {
            height: 80%;
            width: 60%;
            transform: scale(0);
            display: block;
            transition: transform .2s .4s;
        }
        .showImage {
            transform: scale(1);
        }
        svg {
            position: absolute;
            top: 2%;
            right: 2%;
            width: 50px;
            height: 50px;
            cursor: pointer;
            z-index: 100000;
            color: var(--secondaryColor);
        }
        .copy {
            position: fixed;
            color: var(--secondaryColor);
            bottom: 3%;
        }
    }
    #photoW {
        display: none;
    }
    


    .move {
        transform: translateX(0);
    }

    #most {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--identityColor);
        cursor: pointer;
        svg {
            transition: all ease-in-out .3s;
            width: 80%;
            height: 80%;
        }
        svg:hover {
            scale: 1.2;
        }
    }
    .imagen {
        width: 100%;
        height: 200px;
        position: relative;
        .cerrar {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            opacity: 0.8;
            right: 5px;
            top: 5px;
            cursor: pointer;
            transition: all ease-in-out .3s;
            z-index: 10;
            svg {
                width: 30px;
                height: 30px;
                position: relative;
                z-index: -1;
            }
            .borrar {
                display: none;
            }
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
  }

  #imagenesC {
    width: 100%;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    row-gap: 2rem;
    #photoC {
        display: none;
    }
    #mostC {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--identityColor);
        cursor: pointer;
        svg {
            transition: all ease-in-out .3s;
            width: 80%;
            height: 80%;
        }
        svg:hover {
            scale: 1.2;
        }
    }
    .imagen {
        width: 100%;
        height: 200px;
        position: relative;
        .cerrar {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            opacity: 0.8;
            right: 5px;
            top: 5px;
            cursor: pointer;
            transition: all ease-in-out .3s;
            z-index: 10;
            svg {
                width: 30px;
                height: 30px;
                position: relative;
                z-index: -1;
            }
            .borrar {
                display: none;
            }
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
  }

  #informacion {
    display: flex;
    position: fixed;
    width: 100%;
    padding: 2.5%;
    height: 90vh;
    color: var(--identityColor);
    cursor: default;
    a {
        position: absolute;
        top: 0.5%;
        right: 0.5%;
        svg {
            width: 40px;
            height: 40px;
            color: var(--identityColor);
        }
    }
    .info_d {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .top {
            height: 50%;
            width: 100%;
            display: flex;
            align-items: start;
            justify-content: space-between;
            .foto {
                width: 50%;
                height: 80%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .ingredientes {
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                .tittle {
                    display: flex;
                    gap: 1rem;
                    justify-content: center;
                    align-items: center;
                    svg {
                        width: 35px;
                        height: 35px;
                        cursor: pointer;
                    }
                }
                ul {
                    list-style-type: none;
                    overflow-y: scroll;
                    padding: 0;
                    margin: 0;
                    li {
                        border-bottom: 1px solid gray;
                        padding-right: 2%;
                        padding-bottom: 4%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .inge_inge {
                            width: 50%;
                            overflow-x: hidden;
                            word-wrap: break-word;
                        }
                        .amount_amount {
                            width: 50%;
                            overflow-x: hidden;
                            word-wrap: break-word;
                            text-align: end;
                        }
                    }
                }
            }
        }
        .down {
            padding-top: 3%;
            width: 100%;
            height: 100%;
            .tittle {
                display: flex;
                gap: 1rem;
                justify-content: center;
                align-items: center;
                svg {
                    width: 35px;
                    height: 35px;
                    cursor: pointer;
                }
            }
            .galeria {
                width: 100%;
                height: 100%;
                padding-left: 5%;
                padding-right: 5%;
                display: grid;
                grid-template-columns: repeat(3,1fr);
                column-gap: 2rem;
                justify-content: center;
                align-items: center;
                img {
                    width: 90%;
                    height: 90%;
                }
            }
        }
    }
    .info_i {
        width: 40%;
        height: 100%;
        word-wrap: break-word;
        overflow-y: scroll;
        div {
            position: relative;
            a{
                position: absolute;
                top: 1%;
                right: 1%;
                cursor: pointer;
                svg {
                    width: 25px;
                    height: 25px;
                }
            }
            h2, h4 {
                padding-right: 2%;
            }
        }
    }
  }

  .ul-ing-modal{
    list-style-type: none;
    padding: 0;
    width: 60%;
    margin: 0 auto;
    li {
        padding-top: 2%;
        border-bottom: 1px solid gray;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h4 {
            font-size: 3rem;
            width: 50%;
            overflow-x: hidden;
            word-wrap: break-word;
        }
        .amou {
            text-align: end;
        }
    }
  }

  .modal_descrip {
    width: 100%;
    word-wrap: break-word;
    h2 {
        font-size: 3rem;
    }
  }

  #dashboard .edit_all form .datos_form .delete_ingre {
    font-size: 0.7rem !important;
  }

  .nShow {
    display: none;
  }

  .oferta, .carrusel_cuerpo {
    cursor: pointer;
  }

  .opRecipe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    button {
        border: none;
        background: transparent;
    }
    .edit {
        width: 30px;
        height: 30px;
        fill: orange;
        cursor: pointer;
    }
    .delete {
        width: 30px;
        height: 30px;
        fill: var(--identityColor);
        cursor: pointer;
    }
    .active {
        width: 30px;
        height: 30px;
        fill: var(--success);
        cursor: pointer;
    }
  }

  .btn-bar {
    width: 35px;
    height: 35px;
    fill: var(--secondaryColor);
  }

  .table.table.dataTable > :not(caption) > * > * {
    color: var(--identityColor);
 }   

  .dt-paging-button.page-item.active {
    background-color: var(--identityColor);
  }

  .active>.page-link, .page-link.active {
    border-color: var(--secondaryColor);
    background-color: var(--identityColor);
}

  .fondo {
    background: 
    linear-gradient(90deg, rgba(144,26,60,0.3) 0%, rgba(144,26,60,0.3) 100%),
    url(../assets/images/index_fondo.jpg);
  }

  .gradientR {
    background: 
    linear-gradient(90deg, rgba(144,26,60,0.6) 0, rgba(144,26,60,0.3) 60%),
    url(../assets/images/index_fondo.jpg);
  }
  .gradientL {
    background: 
    linear-gradient(-90deg, rgba(144,26,60,0.6) 0, rgba(144,26,60,0.3) 60%),
    url(../assets/images/index_fondo.jpg);
  }

  .modal-dialog {
    color: var(--identityColor);
  }

  .over {
    cursor: pointer;
  }

  .card.text-center.rounded-0 {
    cursor: default;
  }

  h5.w-25.text-center {
    cursor: pointer;
  } 

  /*Disp Moviles normalitos*/

@media (max-width: 768px) {
    #head {
        height: 10vh;
        width: 100%;
      }
    #header {
        #nav {
            margin: 0 5%;
            .navbar-brand {
                width: 50%;
            }
            #logo {
                width: 100%;
            }
        }
    }
    #todos {
        padding-top: 15%;
        margin: 0 2%;
        #cards {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 0.5rem 0.5rem;
            #target {
                width: 100%;
                height: 17vh;
                #image {
                    #note {
                        max-width: 80%;
                        margin-bottom: 3%;
                        h5 {
                            padding: 0.3rem;
                            font-size: 0.8rem;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    #index {
        #buttons {
            width: 60%;
            a {
                font-size: 2rem;
                font-weight: 900;
                padding: 0.6rem;
            }
        }
        #logo {
            width: 50%;
        }
    }
    #menu_bar {
        grid-template-columns: repeat(1,1fr);
        margin: 0 5%;
        #sobre_img {
            .imi {
                width: 100%;
                img {
                    width: 40%;
                }
              }
        }
        .card-title {
            flex-direction: column;
        }
    }
    #dashboard {
        padding-top: 15%;
        .edit_all {
            #formulario {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .img {
                    height: 200px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .datos_form {
                    width: 100%;
                    label {
                        font-size: 1.3rem;
                    }
                    .ultimosDatos {
                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(3,1fr);
                        column-gap: 2rem;
                    }
                }
                #botones {
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                }
            }
    
        }
    }
    #imagenes {
        grid-template-columns: repeat(4, 1fr);
    }
    #imagenesC {
        grid-template-columns: repeat(4, 1fr);
    }
    #informacion {
        flex-direction: column;
        height: 100%;
        position: static;
        .info_d {
            width: 100%;
        }
        .info_i {
            width: 100%;
        }
    }  
}

/*Dispositivos grandes/medianos*/
@media (min-width: 700px) and (max-width: 767px) {
    #cards {
        padding-top: 16%;
        grid-gap: 0.8rem 0.8rem;
        margin: 0 1.5%;
        #target {
            width: 100%;
            height: 22vh;
            #image {
                #note {
                    max-width: 90%;
                    margin-bottom: 3%;
                    h5 {
                        padding: 0.5rem;
                        font-size: 1rem;
                        text-align: center;
                    }
                }
            }
        }
    }
    #dashboard {
        .edit_all {
            form {
                img {
                    width: 60%;
                }
                .datos_form {
                    label {
                        font-size: 1.2rem;
                    }
                    input {
                        font-size: 1rem;
                    }
                    a {
                        font-size: 1rem;
                    }
                    textarea {
                        font-size: 1rem;
                    }
                }
            }
    
        }
    }
}

@media (min-width: 651px) and (max-width: 699px) {
    #cards {
        padding-top: 16%;
        grid-gap: 0.8rem 0.8rem;
        margin: 0 1.5%;
        #target {
            width: 100%;
            height: 22vh;
            #image {
                #note {
                    max-width: 90%;
                    margin-bottom: 3%;
                    h5 {
                        padding: 0.5rem;
                        font-size: 1rem;
                        text-align: center;
                    }
                }
            }
        }
    }
    #dashboard {
        .edit_all {
            form {
                img {
                    width: 60%;
                }
                .datos_form {
                    label {
                        font-size: 1rem;
                    }
                    input {
                        font-size: 1rem;
                    }
                    a {
                        font-size: 1rem;
                    }
                    textarea {
                        font-size: 1rem;
                    }
                }
            }
    
        }
    }
    #imagenes {
        grid-template-columns: repeat(4, 1fr);
        .imagen {
            height: 150px;
        }
      }
      #imagenesC {
        grid-template-columns: repeat(4, 1fr);
        .imagen {
            height: 150px;
        }
      }
}

@media (min-width: 601px) and (max-width: 650px) {
    #cards{
        padding-top: 16%;
    }
    #dashboard {
        .edit_all {
            form {
                img {
                    width: 60%;
                }
                .datos_form {
                    label {
                        font-size: 1rem;
                    }
                    input {
                        font-size: 1rem;
                    }
                    a {
                        font-size: 1rem;
                    }
                    textarea {
                        font-size: 1rem;
                    }
                }
            }
    
        }
    }
    #imagenes {
        grid-template-columns: repeat(4, 1fr);
        .imagen {
            height: 150px;
        }
    }
    #imagenesC {
        grid-template-columns: repeat(4, 1fr);
        .imagen {
            height: 150px;
        }
    }
    #informacion {
        .info_d {
            .top {
                gap: 2rem;
            }
        }
    }
}

/*Móviles sm*/
@media (max-width: 450px) {
    #agg {
        font-size: 0.8rem;
    }

    #dashboard #nav_contenido ul {
        padding: 0;
        li {
            a {
                font-size: 1rem;
            }
        }
    }

    #dashboard #contenido .nav-dashboard ul li a {
        font-size: 0.9rem;
    }

    #dashboard {
        .edit_all {
            padding-top: 5%;
            form {
                img {
                    width: 60%;
                }
                .datos_form {
                    label {
                        font-size: 1rem;
                    }
                    input {
                        font-size: 0.8rem;
                    }
                    a {
                        font-size: 1rem;
                    }
                    textarea {
                        font-size: 1rem;
                    }
                }
                #botones {
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                }
            }
    
        }
    }

    #imagenes {
        grid-template-columns: repeat(2, 1fr);
        .imagen {
            height: 150px;
        }
    }

    #imagenesC {
        grid-template-columns: repeat(2, 1fr);
        .imagen {
            height: 150px;
        }
    }

    #informacion {
        padding-top: 10%;
        .info_d {
            .top {
                gap: 2rem;
            }
        }
    }

    .table>:not(caption)>*>* {
        padding: .3rem .3rem;
    }
}

@media (max-width: 480px){
    #todos {
        padding-top: 18%;
    }
    #index {
        #buttons {
            width: 70%;
            a {
                font-size: 1.5rem;
                font-weight: 700;
                padding: 0.3rem;
            }
        }
        #logo {
            width: 70%;
        }
    }
    #dashboard {
        padding-top: 17%;
        .edit_all {
            padding-top: 5%;
            form {
                img {
                    width: 60%;
                }
                .datos_form {
                    label {
                        font-size: 1rem;
                    }
                    input {
                        font-size: 0.8rem;
                    }
                    a {
                        font-size: 1rem;
                    }
                    textarea {
                        font-size: 1rem;
                    }
                }
            }
    
        }
        #contenido {
            #acounts {
                .contenedor_cuentas {
                    table{
                        .changeP {
                            gap: 0;
                            form{
                                display: none;
                                gap: 0.5rem;
                                justify-content: center;
                                align-items: center;
                                #repasword {
                                    border-color: var(--identityColor);
                                    padding: 1%;
                                    color: var(--identityColor);
                                    width: 50%;
                                }
                            }
                        }
                        .rol {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    #menu_bar {
        #sobre_img {
            .imi {
                width: 100%;
                img {
                    width: 60%;
                }
            }
        }
    }
    #imagenes {
        grid-template-columns: repeat(3, 1fr);
        .imagen {
            height: 150px;
        }
    }
    #imagenesC {
        grid-template-columns: repeat(3, 1fr);
        .imagen {
            height: 150px;
        }
    }
    #informacion {
        padding-top: 8%;
        .info_d {
            .top {
                gap: 2rem;
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 600px) {
    #index {
        #buttons {
            width: 70%;
            a {
                font-size: 1.8rem;
                font-weight: 800;
                padding: 0.5rem;
            }
        }
        #logo {
            width: 70%;
        }
    }
    #todos {
        padding-top: 17%;
    }
    #dashboard {
        padding-top: 17%;
        #contenido {
            #acounts {
                .contenedor_cuentas {
                    table{
                        .changeP {
                            gap: 0.5rem;
                            form{
                                display: none;
                                gap: 0.5rem;
                                justify-content: center;
                                align-items: center;
                                #repasword {
                                    border-color: var(--identityColor);
                                    padding: 1%;
                                    color: var(--identityColor);
                                    width: 100%;
                                }
                            }
                        }
                        .rol {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    #imagenes {
        grid-template-columns: repeat(3, 1fr);
        .imagen {
            height: 150px;
        }
    }
    #imagenesC {
        grid-template-columns: repeat(3, 1fr);
        .imagen {
            height: 150px;
        }
    }
    #informacion {
        .info_d {
            .top {
                gap: 2rem;
            }
        }
    }
}

@media (min-width: 350px) and (max-width: 800px) {
    #informacion .info_d .top .ingredientes {
        margin-top: 2%;
        cursor: default;
    }
    .ul-ing-modal{
        li {
            h4 {
                font-size: 20px;
            }
        }
    }
}

/*Tablets, iPads y laptops pequeñas*/

@media (min-width: 769px) and (max-width: 880px) { 
    #header {
        #nav {
            .navbar-brand {
                width: 50%;
            }
        }
    }

    #todos {
        padding-top: 12%;
        margin: 0 1.2%;
        #cards {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 0.7rem 0.7rem;
            #target {
                width: 100%;
                height: 20vh;
                #image {
                    #note {
                        max-width: 90%;
                        margin-bottom: 3%;
                        h5 {
                            padding: 0.2rem;
                            font-size: 1rem;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    #index {
        #buttons {
            width: 60%;
            a {
                font-size: 2rem;
                font-weight: 900;
                padding: 0.6rem;
            }
        }
        #logo {
            width: 50%;
        }
    }

    #menu_bar {
        grid-template-columns: repeat(1,1fr);
        margin: 0 3%;
    }
    #dashboard {
        padding-top: 13%;
        .edit_all {
            form {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .img {
                    height: 200px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .datos_form {
                    width: 100%;
                    label {
                        font-size: 1.3rem;
                    }
                    .ultimosDatos {
                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(3,1fr);
                        column-gap: 2rem;
                    }
                }
                #botones {
                    flex-direction: row;
                }
            }
    
        }
    }
    #imagenes {
        grid-template-columns: repeat(4, 1fr);
        .imagen {
            height: 150px;
        }
    }
    #imagenesC {
        grid-template-columns: repeat(4, 1fr);
        .imagen {
            height: 150px;
        }
    }
    #informacion {
        flex-direction: column;
        height: 100%;
        position: static;
        .info_d {
            width: 100%;
        }
        .info_i {
            width: 100%;
        }
    }
}


@media (min-width: 881px) and (max-width: 970px) { 
    #header {
        #nav {
            .navbar-brand {
                width: 50%;
            }
        }
    }

    #todos {
        padding-top: 12%;
        margin: 0 1.2%;
        #cards {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 0.7rem 0.7rem;
            #target {
                width: 100%;
                height: 20vh;
                #image {
                    #note {
                        max-width: 90%;
                        margin-bottom: 3%;
                        h5 {
                            padding: 0.2rem;
                            font-size: 1.1rem;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    #index {
        #buttons {
            width: 60%;
            a {
                font-size: 2rem;
                font-weight: 900;
                padding: 0.6rem;
            }
        }
        #logo {
            width: 50%;
        }
    }

    #menu_bar {
        grid-template-columns: repeat(1,1fr);
        margin: 0 3%;
        #sobre_img {
            .imi {
                img {
                    width: 70%;
                }
            }
        }
    }

    #dashboard {
        padding-top: 12%;
        .edit_all {
            form {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .img {
                    height: 250px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .datos_form {
                    width: 100%;
                    label {
                        font-size: 1.7rem;
                    }
                    .ultimosDatos {
                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(3,1fr);
                        column-gap: 2rem;
                    }
                }
                #botones {
                    flex-direction: row;
                }
            }
    
        }
    }
    #imagenes {
        grid-template-columns: repeat(4, 1fr);
        .imagen {
            height: 150px;
        }
    }
    #imagenesC {
        grid-template-columns: repeat(4, 1fr);
        .imagen {
            height: 150px;
        }
    }
    #informacion {
        flex-direction: column;
        height: 100%;
        position: static;
        .info_d {
            width: 100%;
        }
        .info_i {
            width: 100%;
        }
    }
  }

@media (min-width: 971px) and (max-width: 1024px) { 
    #header {
        #nav {
            .navbar-brand {
                width: 50%;
            }
        }
    }

    #todos {
        padding-top: 12%;
        margin: 0 1.2%;
        #cards {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 0.7rem 0.7rem;
            #target {
                width: 100%;
                height: 24vh;
                #image {
                    #note {
                        max-width: 90%;
                        margin-bottom: 3%;
                        h5 {
                            padding: 0.2rem;
                            font-size: 1.1rem;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    #index {
        #buttons {
            width: 60%;
            a {
                font-size: 2rem;
                font-weight: 900;
                padding: 0.6rem;
            }
        }
        #logo {
            width: 50%;
        }
    }

    #menu_bar {
        grid-template-columns: repeat(1,1fr);
        margin: 0 3%;
        #sobre_img {
            .imi {
                img {
                    width: 70%;
                }
            }
        }
    }

    #dashboard {
        padding-top: 12%;
        .edit_all {
            form {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .img {
                    height: 250px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .datos_form {
                    width: 100%;
                    label {
                        font-size: 1.7rem;
                    }
                    .ultimosDatos {
                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(3,1fr);
                        column-gap: 2rem;
                    }
                }
                #botones {
                    flex-direction: row;
                }
            }
    
        }
    }

    #imagenes {
        grid-template-columns: repeat(5, 1fr);
        .imagen {
            height: 150px;
        }
    }

    #imagenesC {
        grid-template-columns: repeat(5, 1fr);
        .imagen {
            height: 150px;
        }
    }
    #informacion {
        flex-direction: column;
        height: 100%;
        position: static;
        .info_d {
            width: 100%;
        }
        .info_i {
            width: 100%;
        }
    }
  }

@media (min-width: 1025px) and (max-width: 1200px) { 
    #header {
        #nav {
            .navbar-brand {
                width: 50%;
            }
        }
    }

    #todos {
        padding-top: 11.5%;
        margin: 0 1.2%;
        #cards {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 0.7rem 0.7rem;
            #target {
                width: 100%;
                height: 24vh;
                #image {
                    #note {
                        max-width: 90%;
                        margin-bottom: 3%;
                        h5 {
                            padding: 0.2rem;
                            font-size: 1.3rem;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    #index {
        #buttons {
            width: 60%;
            a {
                font-size: 2rem;
                font-weight: 900;
                padding: 0.6rem;
            }
        }
        #logo {
            width: 50%;
        }
    }

    #menu_bar {
        grid-template-columns: repeat(1,1fr);
        margin: 0 3%;
        #sobre_img {
            .imi {
                img {
                    width: 70%;
                }
            }
        }
    }

    #dashboard {
        padding-top: 11%;
        .edit_all {
            form {
                .datos_form {
                    label {
                        font-size: 1.2rem;
                    }
                }
                .img {
                    height: 300px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    #informacion {
        flex-direction: column;
        height: 100%;
        position: static;
        .info_d {
            width: 100%;
        }
        .info_i {
            width: 100%;
        }
    }
  }

@media (min-width: 1201px) and (max-width: 1600px) {
    #todos {
        padding-top: 9%;
    }
    #dashboard {
        padding-top: 10%;
        .edit_all {
            form {
                .datos_form {
                    label {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    #informacion {
        .info_d {
            .down {
                .galeria {
                    img {
                        height: 70%;
                    }
                }
            }
        }
    }
}

@media (min-width: 1201px) and (max-width: 1280px) {
    #index {
        #buttons {
            width: 60%;
            a {
                font-size: 2rem;
                font-weight: 900;
                padding: 0.6rem;
            }
        }
        #logo {
            width: 50%;
        }
    }
    #todos {
        padding-top: 10%;
    }
    #menu_bar {
        grid-template-columns: repeat(1,1fr);
        margin: 0 3%;
        #sobre_img {
            .imi {
                img {
                    width: 60%;
                }
            }
        }
    }
    #informacion {
        .info_d {
            .down {
                .galeria {
                    img {
                        height: 50%;
                    }
                }
            }
        }
    }
}

@media (min-width: 1281px) and (max-width: 1600px) {
    #index {
        #buttons {
            width: 50%;
            a {
                font-size: 2rem;
                font-weight: 900;
                padding: 0.6rem;
            }
        }
        #logo {
            width: 40%;
        }
    }
    #menu_bar {
        h3 {
            font-size: 1.2rem;
        }
        h5 {
            font-size: 0.8rem;
        }
        .card-title {
            #price {
                gap: 0.3rem;
            }
        }
    }
    #informacion {
        .info_d {
            .down {
                .galeria {
                    img {
                        height: 60%;
                    }
                }
            }
        }
    }
}

@media (min-width: 1401px) and (max-width: 1600px) {
    #menu_bar {
        h3 {
            font-size: 1.2rem;
        }
        h5 {
            font-size: 1rem;
        }
        .card-title {
            #price {
                gap: 0.5rem;
            }
        }
    }

    #dashboard {
        padding-top: 8%;
    }

    #informacion {
        .info_d {
            .down {
                .galeria {
                    img {
                        height: 60%;
                    }
                }
            }
        }
    }
}


