*:root {
    --identityColor: #901a34;
    --primaryColor: #ffffff;
    --secondaryColor: #f8f9fa;
    --darkColor: black;
    --font: fresh;
  }
  
  @font-face {
    font-family: 'fresh';
    src: url('../font/TNR.ttf');
  }

  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  body {
    max-width: 100%;
  }
  
  *,
  *::before,
  *::after {
    font-family: 'fresh', sans-serif;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }

  #head {
    height: 12vh;
    width: 100%;
  }

  #header {
    box-shadow: 0px 5px 5px -5px var(--darkColor);
    #nav {
        margin: 0 5%;
    }
  }

  #offcanvasNavbarLabel {
    color: var(--identityColor);
    text-decoration: underline;
    cursor: default;
  }
  .cat {
    color: var(--identityColor);
  }

  #cards {
    max-width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 1%;
    grid-gap: 1%;
    #target {
        width: 100%;
        height: 35vh;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0px 5px 5px -5px var(--darkColor);
        #image {
            z-index: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;
            #img {
                width: 100%;
                height: 100%;
                position: absolute;
            }
            #note {
                background-color: var(--primaryColor);
                margin-bottom: 4%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: var(--identityColor);
                opacity: 75%;
                cursor: default;
                h5 {
                    padding: 0.5rem;
                    margin: 0;
                    color: var(--primaryColor);
                    font-size: 1.5rem;
                }
            }
        }
    }
  }
