{% load static %}
<div>
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">
          <h5 class="cat">
            <span>►</span>Cocteles
          </h5>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">
          <h5 class="cat"><span>►</span>Caffés</h5>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">
          <h5 class="cat"><span>►</span>Sugerencias</h5>
        </a>
      </li>
    </ul>
  </div>