{% load static %}
<div>
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" onclick="filtrar(this.id)" style="cursor: pointer;" id="allop">
          <h5 class="cat">
            <span>►</span>Todos
          </h5>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" onclick="filtrar(this.id)" style="cursor: pointer;" id="op1">
          <h5 class="cat">
            <span>►</span>Entre Panes
          </h5>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" onclick="filtrar(this.id)" style="cursor: pointer;" id="op2">
          <h5 class="cat"><span>►</span>Entrantes Fríos</h5>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" onclick="filtrar(this.id)" style="cursor: pointer;" id="op3">
          <h5 class="cat"><span>►</span>Entrantes Calientes</h5>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" onclick="filtrar(this.id)" style="cursor: pointer;" id="op4">
          <h5 class="cat"><span>►</span>Cocina Italiana</h5>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" onclick="filtrar(this.id)" style="cursor: pointer;" id="op5">
          <h5 class="cat"><span>►</span>Platos Fuertes</h5>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" onclick="filtrar(this.id)" style="cursor: pointer;" id="op6">
          <h5 class="cat"><span>►</span>Guarniciones</h5>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" onclick="filtrar(this.id)" style="cursor: pointer;" id="op7">
          <h5 class="cat"><span>►</span>Postres</h5>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" onclick="filtrar(this.id)" style="cursor: pointer;" id="op8">
          <h5 class="cat"><span>►</span>Sugerencias</h5>
        </a>
      </li>
    </ul>
  </div>