{% extends "layout/base.html" %}
{% load static %}
{% block header %}
    {% include "layout/partials/nav_admin.html" %}
{% endblock  %}
{% block main %}
<section id="dashboard">
{% if user.is_authenticated %}
    {% if user.if_admin %}
        {% include "layout/partials/dashboard_carta.html" %}
        {% include "layout/partials/carta_r.html" %}
    {% elif user.if_comercial %}
        {% include "layout/partials/dashboard_comercial.html" %}
        {% include "layout/partials/carta_r.html" %}
    {% elif user.if_economica %}
        {% include "layout/partials/dashboard_economica.html" %}   
    {% endif %}
{% endif %}
<a class="btn btn-danger" href="#dashboard" id="subir">↑</a>
</section>


{% include "layout/partials/add_recipe.html" %}
{% include "layout/partials/add_bar.html" %}


<section id="mensajes">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'success' %}success {% elif message.tags == 'error' %}danger {% endif %} rounded-0" role="alert" id="mens">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</section>
{% endblock  %}
{% block js %}
<script src="{% static "js/admin.js" %}"></script>
<script src="{% static "lib/jquery.min.js" %}"></script>
<script src="{% static "lib/datatables.min.js" %}"></script>
<script src="{% static "lib/responsive.min.js" %}"></script>
<script src="{% static "js/table.js" %}"></script>

{% endblock %}