{% extends "layout/base.html" %}
{% load static %}
{% block header %}
  {% include "layout/partials/nav_var.html" %}
{% endblock  %}
{% block main  %}
<section id="todos">
  <h2 class="nShow mb-3 text-center" id="general">Resultados de la busqueda</h2>
  <div class="cositas" id="ep">
    {% if barEf %}<h2 class="tittle  mb-2 text-center">Cócteles</h2>{% endif %}
    <section id="menu_bar">
      {% for productosEf in barEf %}
      <article id="cards_bar">
        <div class="card text-center rounded-0">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active rounded-0" aria-current="true" href="#">Oferta</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Galería</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="card border-0">
              <div class="row g-0" id="sobre_img">
                <div class="col-md-4 imi">
                  <img src="{{productosEf.imagen.url}}" class="img-fluid rounded-0" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <div class="card-title">
                      <h3>{{productosEf.recipe}}</h3>
                      <div id="price">
                        <h5>{{productosEf.price}} cup</h5>
                        <span>-</span>
                        <h5>{{productosEf.price_alter}} usd</h5>
                      </div>
                    </div>
                    <p>{{productosEf.descrip}}</p>
                  </div>
                  <p class="card-text"><small class="text-body-secondary">Tiempo de preparación {{productosEf.time_out}} minutos</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
      {% endfor %}
    </section>
  </div>
  <div class="cositas" id="ef">
    {% if barEp %}<h2 class="tittle  mb-2 text-center">Cafés</h2>{% endif %}
    <section id="menu_bar">
      {% for productosEP in barEp %}
      <article id="cards_bar">
        <div class="card text-center rounded-0">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active rounded-0" aria-current="true" href="#">Oferta</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Galería</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="card border-0">
              <div class="row g-0" id="sobre_img">
                <div class="col-md-4 imi">
                  <img src="{{productosEP.imagen.url}}" class="img-fluid rounded-0" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <div class="card-title">
                      <h3>{{productosEP.recipe}}</h3>
                      <div id="price">
                        <h5>{{productosEP.price}} cup</h5>
                        <span>-</span>
                        <h5>{{productosEP.price_alter}} usd</h5>
                      </div>
                    </div>
                    <p>{{productosEP.descrip}}</p>
                  </div>
                  <p class="card-text"><small class="text-body-secondary">Tiempo de preparación {{productosEP.time_out}} minutos</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
      {% endfor %}
    </section>
  </div>
</section>
{% endblock  %}
{% block js %}
<script src="{% static "js/bar.js" %}"></script>
{% endblock  %}