{% extends "layout/base.html" %}
{% load static %}
{% block main %}

<section id="index" class="fondo">
  <div id="buttons">
    <a class="buttons b1" id="b1" href="{% url "salon" %}"> Restaurante </a>
    <a class="buttons b2" id="b2" href="{% url "bar" %}"> Café </a>
  </div>
  <div id="logo">
    <img src="{% static "assets/icon/Logo Cafe.png" %}" alt="Havana's 21" id="logo" data-bs-toggle="modal" data-bs-target="#loginForm" />
  </div>
</section>

{% include "registration/login.html" %}

{% if messages %}
<div class="alert alert-danger container-fluid rounded-0" role="alert" id="sms">
  {% for message in messages %}
  {{ message }}
  {% endfor %}
</div>
{% endif %}

{% endblock %}
{% block js %}

<script src="{% static "js/app.js" %}"></script>
{% endblock %}