{% extends "layout/base.html" %}
{% load static %}
{% block header %}
  {% include "layout/partials/nav_salon.html" %}
{% endblock  %}
{% block main  %}
<section id="todos">
  <h2 class="nShow mb-3 text-center" id="general">Resultados de la busqueda</h2>
  <div class="cositas" id="ep">
    {% if salonEP %}
      <h2 class="tittle mb-2 text-center">Entre Panes</h2>
    {% endif %}
    <section id="menu_bar">
      {% for productosEP in salonEP %}
      <article id="cards_bar">
        <div class="card text-center rounded-0">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item oferta" onclick="change(this)">
                <a class="nav-link active rounded-0">Oferta</a>
              </li>
              <li class="nav-item carrusel_cuerpo" onclick="change(this)">
                <a class="nav-link rounded-0">Galería</a>
              </li>
            </ul>
          </div>
          <div class="card-body datos_recipe">
            <div class="card border-0 w-100">
              <div class="row g-0" id="sobre_img">
                <div class="col-md-4 imi">
                  <img src="{{productosEP.imagen.url}}" class="img-fluid rounded-0" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <div class="card-title">
                      <h3>{{productosEP.recipe}}</h3>
                      <div id="price">
                        <h5>{{productosEP.price|floatformat:2}} cup</h5>
                        <span>-</span>
                        <h5>{{productosEP.price_alter|floatformat:2}} usd</h5>
                      </div>
                    </div>
                    <p class="es">{{productosEP.descrip}}</p>
                    <p class="en nShow">{{productosEP.descrip_en}}</p>
                  </div>
                  <p class="card-text"><small class="text-body-secondary">Tiempo de preparación {{productosEP.time_out}} minutos</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body image_recipe nShow ">
            <div id="carouselEP{{forloop.counter}}" class="carousel carousel-dark slide h-100 w-75 m-auto carru" data-bs-touch="true">
              <div class="carousel-indicators">
                {% for foto in productosEP.galery_client.all %}
                <button type="button" data-bs-target="#carouselEP{{forloop.parentloop.counter}}" data-bs-slide-to="{{forloop.counter0}}" class="{% if forloop.first %}active{% else %} {% endif %}" aria-current="true" aria-label="Slide {{forloop.counter}}"></button>
                {% endfor %}
              </div>
              <div class="carousel-inner h-100">
                
                {% for foto in productosEP.galery_client.all %}
                <div class="{% if forloop.first %}carousel-item active h-100{% else %}carousel-item h-100{% endif %}">
                  <img src="{{foto.imagen.url}}" class="d-block carrusel_img" alt="{{foto.imagen.url}}">
                </div>
                {% endfor %}
              
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselEP{{forloop.counter}}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselEP{{forloop.counter}}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </article>
      {% endfor %}
    </section>
  </div>
  <div class="cositas" id="ef">
    {% if salonEF %}
    <h2 class="tittle mb-2 text-center">Entrantes Fríos</h2>
    {% endif %}
    <section id="menu_bar">
      {% for productosEF in salonEF %}
      <article id="cards_bar">
        <div class="card text-center rounded-0">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item oferta" onclick="change(this)">
                <a class="nav-link active rounded-0">Oferta</a>
              </li>
              <li class="nav-item carrusel_cuerpo" onclick="change(this)">
                <a class="nav-link rounded-0">Galería</a>
              </li>
            </ul>
          </div>
          <div class="card-body datos_recipe">
            <div class="card border-0 datos_btn">
              <div class="row g-0" id="sobre_img">
                <div class="col-md-4 imi">
                  <img src="{{productosEF.imagen.url}}" class="img-fluid rounded-0" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <div class="card-title">
                      <h3>{{productosEF.recipe}}</h3>
                      <div id="price">
                        <h5>{{productosEF.price|floatformat:2}} cup</h5>
                        <span>-</span>
                        <h5>{{productosEF.price_alter|floatformat:2}} usd</h5>
                      </div>
                    </div>
                    <p class="es">{{productosEF.descrip}}</p>
                    <p class="en nShow">{{productosEF.descrip_en}}</p>
                  </div>
                  <p class="card-text"><small class="text-body-secondary">Tiempo de preparación {{productosEF.time_out}} minutos</small></p>
                </div>
              </div>
            </div>
          </div>`
          <div class="card-body image_recipe nShow ">
            <div id="carouselEF{{forloop.counter}}" class="carousel carousel-dark slide h-100 w-75 m-auto carru" data-bs-touch="true">
              <div class="carousel-indicators">
                {% for foto in productosEF.galery_client.all %}
                <button type="button" data-bs-target="#carouselEF{{forloop.parentloop.counter}}" data-bs-slide-to="{{forloop.counter0}}" class="{% if forloop.first %}active{% else %} {% endif %}" aria-current="true" aria-label="Slide {{forloop.counter}}"></button>
                {% endfor %}
              </div>
              <div class="carousel-inner h-100">
                
                {% for foto in productosEF.galery_client.all %}
                <div class="{% if forloop.first %}carousel-item active h-100{% else %}carousel-item h-100{% endif %}">
                  <img src="{{foto.imagen.url}}" class="d-block carrusel_img" alt="{{foto.imagen.url}}">
                </div>
                {% endfor %}
              
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselEF{{forloop.counter}}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselEF{{forloop.counter}}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </article>
      {% endfor %}
    </section>
  </div>
  <div class="cositas" id="ec">
    {% if salonEC %}<h2 class="tittle mb-2 text-center">Entrantes Calientes</h2>{% endif %}
    <section id="menu_bar">
      {% for productosEC in salonEC %}
      <article id="cards_bar">
        <div class="card text-center rounded-0">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item oferta" onclick="change(this)">
                <a class="nav-link active rounded-0" aria-current="true">Oferta</a>
              </li>
              <li class="nav-item carrusel_cuerpo" onclick="change(this)">
                <a class="nav-link rounded-0">Galería</a>
              </li>
            </ul>
          </div>
          <div class="card-body datos_recipe">
            <div class="card border-0 datos_btn">
              <div class="row g-0" id="sobre_img">
                <div class="col-md-4 imi">
                  <img src="{{productosEC.imagen.url}}" class="img-fluid rounded-0" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <div class="card-title">
                      <h3>{{productosEC.recipe}}</h3>
                      <div id="price">
                        <h5>{{productosEC.price|floatformat:2}} cup</h5>
                        <span>-</span>
                        <h5>{{productosEC.price_alter|floatformat:2}} usd</h5>
                      </div>
                    </div>
                    <p class="es">{{productosEC.descrip}}</p>
                    <p class="en nShow">{{productosEC.descrip_en}}</p>
                  </div>
                  <p class="card-text"><small class="text-body-secondary">Tiempo de preparación {{productosEC.time_out}} minutos</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body image_recipe nShow ">
            <div id="carouselEC{{forloop.counter}}" class="carousel carousel-dark slide h-100 w-75 m-auto carru" data-bs-touch="true">
              <div class="carousel-indicators">
                {% for foto in productosEC.galery_client.all %}
                <button type="button" data-bs-target="#carouselEC{{forloop.parentloop.counter}}" data-bs-slide-to="{{forloop.counter0}}" class="{% if forloop.first %}active{% else %} {% endif %}" aria-current="true" aria-label="Slide {{forloop.counter}}"></button>
                {% endfor %}
              </div>
              <div class="carousel-inner h-100">
                
                {% for foto in productosEC.galery_client.all %}
                <div class="{% if forloop.first %}carousel-item active h-100{% else %}carousel-item h-100{% endif %}">
                  <img src="{{foto.imagen.url}}" class="d-block carrusel_img" alt="{{foto.imagen.url}}">
                </div>
                {% endfor %}
              
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselEC{{forloop.counter}}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselEC{{forloop.counter}}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </article>
      {% endfor %}
    </section>
  </div>
  <div class="cositas" id="ci">
    {% if salonCI %}<h2 class="tittle mb-2 text-center">Cocina Italiana</h2>{% endif %}
    <section id="menu_bar">
      {% for productosCI in salonCI %}
      <article id="cards_bar">
        <div class="card text-center rounded-0">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item oferta" onclick="change(this)">
                <a class="nav-link active rounded-0" aria-current="true">Oferta</a>
              </li>
              <li class="nav-item carrusel_cuerpo" onclick="change(this)">
                <a class="nav-link rounded-0">Galería</a>
              </li>
            </ul>
          </div>
          <div class="card-body datos_recipe">
            <div class="card border-0 datos_btn">
              <div class="row g-0" id="sobre_img">
                <div class="col-md-4 imi">
                  <img src="{{productosCI.imagen.url}}" class="img-fluid rounded-0" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <div class="card-title">
                      <h3>{{productosCI.recipe}}</h3>
                      <div id="price">
                        <h5>{{productosCI.price|floatformat:2}} cup</h5>
                        <span>-</span>
                        <h5>{{productosCI.price_alter|floatformat:2}} usd</h5>
                      </div>
                    </div>
                    <p class="es">{{productosCI.descrip}}</p>
                    <p class="en nShow">{{productosCI.descrip_en}}</p>
                  </div>
                  <p class="card-text"><small class="text-body-secondary">Tiempo de preparación {{productosCI.time_out}} minutos</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body image_recipe nShow ">
            <div id="carouselCI{{forloop.counter}}" class="carousel carousel-dark slide h-100 w-75 m-auto carru" data-bs-touch="true">
              <div class="carousel-indicators">
                {% for foto in productosCI.galery_client.all %}
                <button type="button" data-bs-target="#carouselCI{{forloop.parentloop.counter}}" data-bs-slide-to="{{forloop.counter0}}" class="{% if forloop.first %}active{% else %} {% endif %}" aria-current="true" aria-label="Slide {{forloop.counter}}"></button>
                {% endfor %}
              </div>
              <div class="carousel-inner h-100">
                
                {% for foto in productosCI.galery_client.all %}
                <div class="{% if forloop.first %}carousel-item active h-100{% else %}carousel-item h-100{% endif %}">
                  <img src="{{foto.imagen.url}}" class="d-block carrusel_img" alt="{{foto.imagen.url}}">
                </div>
                {% endfor %}
              
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselCI{{forloop.counter}}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselCI{{forloop.counter}}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </article>
      {% endfor %}
    </section>
  </div>
  <div class="cositas" id="pf">
    {% if salonPF %}<h2 class="tittle mb-2 text-center">Platos Fuertes</h2>{% endif %}
    <section id="menu_bar">
      {% for productosPF in salonPF %}
      <article id="cards_bar">
        <div class="card text-center rounded-0">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item oferta" onclick="change(this)">
                <a class="nav-link active rounded-0" aria-current="true">Oferta</a>
              </li>
              <li class="nav-item carrusel_cuerpo" onclick="change(this)">
                <a class="nav-link rounded-0">Galería</a>
              </li>
            </ul>
          </div>
          <div class="card-body datos_recipe">
            <div class="card border-0 datos_btn">
              <div class="row g-0" id="sobre_img">
                <div class="col-md-4 imi">
                  <img src="{{productosPF.imagen.url}}" class="img-fluid rounded-0" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <div class="card-title">
                      <h3>{{productosPF.recipe}}</h3>
                      <div id="price">
                        <h5>{{productosPF.price|floatformat:2}} cup</h5>
                        <span>-</span>
                        <h5>{{productosPF.price_alter|floatformat:2}} usd</h5>
                      </div>
                    </div>
                    <p class="es">{{productosPF.descrip}}</p>
                    <p class="en nShow">{{productosPF.descrip_en}}</p>
                  </div>
                  <p class="card-text"><small class="text-body-secondary">Tiempo de preparación {{productosPF.time_out}} minutos</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body image_recipe nShow ">
            <div id="carouselPF{{forloop.counter}}" class="carousel carousel-dark slide h-100 w-75 m-auto carru" data-bs-touch="true">
              <div class="carousel-indicators">
                {% for foto in productosPF.galery_client.all %}
                <button type="button" data-bs-target="#carouselPF{{forloop.parentloop.counter}}" data-bs-slide-to="{{forloop.counter0}}" class="{% if forloop.first %}active{% else %} {% endif %}" aria-current="true" aria-label="Slide {{forloop.counter}}"></button>
                {% endfor %}
              </div>
              <div class="carousel-inner h-100">
                
                {% for foto in productosPF.galery_client.all %}
                <div class="{% if forloop.first %}carousel-item active h-100{% else %}carousel-item h-100{% endif %}">
                  <img src="{{foto.imagen.url}}" class="d-block carrusel_img" alt="{{foto.imagen.url}}">
                </div>
                {% endfor %}
              
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselPF{{forloop.counter}}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselPF{{forloop.counter}}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </article>
      {% endfor %}
    </section>
  </div>
  <div class="cositas" id="guar">
    {% if salonG %}<h2 class="tittle mb-2 text-center">Guarniciones</h2>{% endif %}
    <section id="menu_bar">
      {% for productosG in salonG %}
      <article id="cards_bar">
        <div class="card text-center rounded-0">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item oferta" onclick="change(this)">
                <a class="nav-link active rounded-0" aria-current="true">Oferta</a>
              </li>
              <li class="nav-item carrusel_cuerpo" onclick="change(this)">
                <a class="nav-link rounded-0">Galería</a>
              </li>
            </ul>
          </div>
          <div class="card-body datos_recipe">
            <div class="card border-0 datos_btn">
              <div class="row g-0" id="sobre_img">
                <div class="col-md-4 imi">
                  <img src="{{productosG.imagen.url}}" class="img-fluid rounded-0" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <div class="card-title">
                      <h3>{{productosG.recipe}}</h3>
                      <div id="price">
                        <h5>{{productosG.price|floatformat:2}} cup</h5>
                        <span>-</span>
                        <h5>{{productosG.price_alter|floatformat:2}} usd</h5>
                      </div>
                    </div>
                    <p class="es">{{productosG.descrip}}</p>
                    <p class="en nShow">{{productosG.descrip_en}}</p>
                  </div>
                  <p class="card-text"><small class="text-body-secondary">Tiempo de preparación {{productosG.time_out}} minutos</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body image_recipe nShow ">
            <div id="carouselG{{forloop.counter}}" class="carousel carousel-dark slide h-100 w-75 m-auto carru" data-bs-touch="true">
              <div class="carousel-indicators">
                {% for foto in productosG.galery_client.all %}
                <button type="button" data-bs-target="#carouselG{{forloop.parentloop.counter}}" data-bs-slide-to="{{forloop.counter0}}" class="{% if forloop.first %}active{% else %} {% endif %}" aria-current="true" aria-label="Slide {{forloop.counter}}"></button>
                {% endfor %}
              </div>
              <div class="carousel-inner h-100">
                
                {% for foto in productosG.galery_client.all %}
                <div class="{% if forloop.first %}carousel-item active h-100{% else %}carousel-item h-100{% endif %}">
                  <img src="{{foto.imagen.url}}" class="d-block carrusel_img" alt="{{foto.imagen.url}}">
                </div>
                {% endfor %}
              
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselG{{forloop.counter}}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselG{{forloop.counter}}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </article>
      {% endfor %}
    </section>
  </div>
  <div class="cositas" id="pos">
    {% if salonP %}<h2 class="tittle mb-2 text-center">Postres</h2>{% endif %}
    <section id="menu_bar">
      {% for productosP in salonP %}
      <article id="cards_bar">
        <div class="card text-center rounded-0">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item oferta" onclick="change(this)">
                <a class="nav-link active rounded-0" aria-current="true">Oferta</a>
              </li>
              <li class="nav-item carrusel_cuerpo" onclick="change(this)">
                <a class="nav-link rounded-0">Galería</a>
              </li>
            </ul>
          </div>
          <div class="card-body datos_recipe">
            <div class="card border-0 datos_btn">
              <div class="row g-0" id="sobre_img">
                <div class="col-md-4 imi">
                  <img src="{{productosP.imagen.url}}" class="img-fluid rounded-0" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <div class="card-title">
                      <h3>{{productosP.recipe}}</h3>
                      <div id="price">
                        <h5>{{productosP.price|floatformat:2}} cup</h5>
                        <span>-</span>
                        <h5>{{productosP.price_alter|floatformat:2}} usd</h5>
                      </div>
                    </div>
                    <p class="es">{{productosP.descrip}}</p>
                    <p class="en nShow">{{productosP.descrip_en}}</p>
                  </div>
                  <p class="card-text"><small class="text-body-secondary">Tiempo de preparación {{productosP.time_out}} minutos</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body image_recipe nShow ">
            <div id="carouselP{{forloop.counter}}" class="carousel carousel-dark slide h-100 w-75 m-auto carru" data-bs-touch="true">
              <div class="carousel-indicators">
                {% for foto in productosP.galery_client.all %}
                <button type="button" data-bs-target="#carouselP{{forloop.parentloop.counter}}" data-bs-slide-to="{{forloop.counter0}}" class="{% if forloop.first %}active{% else %} {% endif %}" aria-current="true" aria-label="Slide {{forloop.counter}}"></button>
                {% endfor %}
              </div>
              <div class="carousel-inner h-100">
                
                {% for foto in productosP.galery_client.all %}
                <div class="{% if forloop.first %}carousel-item active h-100{% else %}carousel-item h-100{% endif %}">
                  <img src="{{foto.imagen.url}}" class="d-block carrusel_img" alt="{{foto.imagen.url}}">
                </div>
                {% endfor %}
              
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselP{{forloop.counter}}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselP{{forloop.counter}}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </article>
      {% endfor %}
    </section>
  </div>
  <div class="cositas" id="suge">
    {% if salonS %}<h2 class="tittle mb-2 text-center">Sugerencias</h2>{% endif %}
    <section id="menu_bar">
      {% for productosS in salonS %}
      <article id="cards_bar">
        <div class="card text-center rounded-0">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item oferta" onclick="change(this)">
                <a class="nav-link active rounded-0" aria-current="true">Oferta</a>
              </li>
              <li class="nav-item carrusel_cuerpo" onclick="change(this)">
                <a class="nav-link rounded-0">Galería</a>
              </li>
            </ul>
          </div>
          <div class="card-body datos_recipe">
            <div class="card border-0 datos_btn">
              <div class="row g-0" id="sobre_img">
                <div class="col-md-4 imi">
                  <img src="{{productosS.imagen.url}}" class="img-fluid rounded-0" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <div class="card-title">
                      <h3>{{productosS.recipe}}</h3>
                      <div id="price">
                        <h5>{{productosS.price|floatformat:2}} cup</h5>
                        <span>-</span>
                        <h5>{{productosS.price_alter|floatformat:2}} usd</h5>
                      </div>
                    </div>
                    <p class="es">{{productosS.descrip}}</p>
                    <p class="en nShow">{{productosS.descrip_en}}</p>
                  </div>
                  <p class="card-text"><small class="text-body-secondary">Tiempo de preparación {{productosS.time_out}} minutos</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body image_recipe nShow ">
            <div id="carouselS{{forloop.counter}}" class="carousel carousel-dark slide h-100 w-75 m-auto carru" data-bs-touch="true">
              <div class="carousel-indicators">
                {% for foto in productosS.galery_client.all %}
                <button type="button" data-bs-target="#carouselS{{forloop.parentloop.counter}}" data-bs-slide-to="{{forloop.counter0}}" class="{% if forloop.first %}active{% else %} {% endif %}" aria-current="true" aria-label="Slide {{forloop.counter}}"></button>
                {% endfor %}
              </div>
              <div class="carousel-inner h-100">
                
                {% for foto in productosS.galery_client.all %}
                <div class="{% if forloop.first %}carousel-item active h-100{% else %}carousel-item h-100{% endif %}">
                  <img src="{{foto.imagen.url}}" class="d-block carrusel_img" alt="{{foto.imagen.url}}">
                </div>
                {% endfor %}
              
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselS{{forloop.counter}}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselS{{forloop.counter}}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </article>
      {% endfor %}
    </section>
  </div>
</section>
{% endblock  %}
{% block js %}
<script src="{% static "js/salon.js" %}"></script>
{% endblock  %}