{% extends "layout/base.html" %}
{% load static %}
{% block header %}
  {% include "layout/partials/nav_salon.html" %}
{% endblock  %}
{% block main  %}
<section id="menu_bar">
  <article id="cards_bar">
    <div class="card text-center rounded-0">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active rounded-0" aria-current="true" href="#">Oferta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Galería</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="card border-0">
          <div class="row g-0" id="sobre_img">
            <div class="col-md-4 imi">
              <img src="{% static "assets/images/plato 1.jpeg" %}" class="img-fluid rounded-0" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <div class="card-title">
                  <h3>Sandwich Criollo</h3>
                  <div id="price">
                    <h5>500cup</h5>
                    <h5>3mlc</h5>
                  </div>
                </div>
                <ul id="ingre">
                  <li>
                    Ron blanco cubano
                  </li>
                  <li>
                    Jugo de lima fresco
                  </li>
                  <li>
                    Azúcar o jarabe de azúcar
                  </li>
                  <li>
                    Agua con gas
                  </li>
                  <li>
                    Menta fresca
                  </li>
              </div>
              <p class="card-text"><small class="text-body-secondary">Tiempo de preparación 2 minutos</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </article>
  <article id="cards_bar">
    <div class="card text-center rounded-0">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active rounded-0" aria-current="true" href="#">Oferta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Galería</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="card border-0">
          <div class="row g-0" id="sobre_img">
            <div class="col-md-4 imi">
              <img src="{% static "assets/images/plato 2.jfif" %}" class="img-fluid rounded-0" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <div class="card-title">
                  <h3>Ensalada Capresee</h3>
                  <div id="price">
                    <h5>500cup</h5>
                    <h5>3mlc</h5>
                  </div>
                </div>
                <ul id="ingre">
                  <li>
                    Ron blanco cubano
                  </li>
                  <li>
                    Jugo de lima fresco
                  </li>
                  <li>
                    Azúcar o jarabe de azúcar
                  </li>
                  <li>
                    Agua con gas
                  </li>
                  <li>
                    Menta fresca
                  </li>
              </div>
              <p class="card-text"><small class="text-body-secondary">Tiempo de preparación 2 minutos</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </article>
  <article id="cards_bar">
    <div class="card text-center rounded-0">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active rounded-0" aria-current="true" href="#">Oferta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Galería</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="card border-0">
          <div class="row g-0" id="sobre_img">
            <div class="col-md-4 imi">
              <img src="{% static "assets/images/plato 3.jpeg" %}" class="img-fluid rounded-0" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <div class="card-title">
                  <h3>Ensalada de queso y fiambre
                  </h3>
                  <div id="price">
                    <h5>500cup</h5>
                    <h5>3mlc</h5>
                  </div>
                </div>
                <ul id="ingre">
                  <li>
                    Ron blanco cubano
                  </li>
                  <li>
                    Jugo de lima fresco
                  </li>
                  <li>
                    Azúcar o jarabe de azúcar
                  </li>
                  <li>
                    Agua con gas
                  </li>
                  <li>
                    Menta fresca
                  </li>
              </div>
              <p class="card-text"><small class="text-body-secondary">Tiempo de preparación 2 minutos</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </article>
  <article id="cards_bar">
    <div class="card text-center rounded-0">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active rounded-0" aria-current="true" href="#">Oferta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Galería</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="card border-0">
          <div class="row g-0" id="sobre_img">
            <div class="col-md-4 imi">
              <img src="{% static "assets/images/plato 4.jpeg" %}" class="img-fluid rounded-0" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <div class="card-title">
                  <h3>Ensalada Cesar c/ Pollo
                  </h3>
                  <div id="price">
                    <h5>500cup</h5>
                    <h5>3mlc</h5>
                  </div>
                </div>
                <ul id="ingre">
                  <li>
                    Ron blanco cubano
                  </li>
                  <li>
                    Jugo de lima fresco
                  </li>
                  <li>
                    Azúcar o jarabe de azúcar
                  </li>
                  <li>
                    Agua con gas
                  </li>
                  <li>
                    Menta fresca
                  </li>
              </div>
              <p class="card-text"><small class="text-body-secondary">Tiempo de preparación 2 minutos</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </article>
  <article id="cards_bar">
    <div class="card text-center rounded-0">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active rounded-0" aria-current="true" href="#">Oferta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Galería</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="card border-0">
          <div class="row g-0" id="sobre_img">
            <div class="col-md-4 imi">
              <img src="{% static "assets/images/plato 5.jpeg" %}" class="img-fluid rounded-0" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <div class="card-title">
                  <h3>Ceriche de pescado al culantro
                  </h3>
                  <div id="price">
                    <h5>500cup</h5>
                    <h5>3mlc</h5>
                  </div>
                </div>
                <ul id="ingre">
                  <li>
                    Ron blanco cubano
                  </li>
                  <li>
                    Jugo de lima fresco
                  </li>
                  <li>
                    Azúcar o jarabe de azúcar
                  </li>
                  <li>
                    Agua con gas
                  </li>
                  <li>
                    Menta fresca
                  </li>
              </div>
              <p class="card-text"><small class="text-body-secondary">Tiempo de preparación 2 minutos</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </article>
</section>
{% endblock  %}