{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static "assets/icon/favicon.png" %}">
    <link rel="stylesheet" href="{% static "lib/bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Havana's 21</title>
</head>
<body>
    <header>
        {% block header %}
        {% endblock  %}
    </header>
    <main id="main">
        {% block main %}
        {% endblock %}
    </main>
    {% block js %}
    {% endblock  %}
    <script src="{% static "lib/bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js" %}"></script>
</body>
</html>